x64/
*.db
*.opendb
*.suo
*.txt
*.ini
*.rej
*.lastbuildstate
*.tlog
*.obj
*.log
*.pdb
*.idb
*.exe
*.iobj
*.ipdb
*.lib
*.ilk
*.cache
*.enc
*.user
*.wav
*.res
*.aps
.vs/Fundation2017/v15/ipch/AutoPCH/7bf41dea266ca9ae/SERVER.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/ae5d569b6e939b82/CAMERA.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/cdd54c34416172e2/CLIENT.ipch
