x64/
*.db
*.opendb
*.suo
*.txt
*.ini
*.rej
*.lastbuildstate
*.tlog
*.obj
*.log
*.pdb
*.idb
*.exe
*.iobj
*.ipdb
*.lib
*.ilk
*.cache
*.enc
*.user
*.wav
*.res
*.aps
.vs/Fundation2017/v15/ipch/AutoPCH/7bf41dea266ca9ae/SERVER.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/ae5d569b6e939b82/CAMERA.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/cdd54c34416172e2/CLIENT.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/db255406b1af1bae/SERVER.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/d8e8cb7f9d60d82/CAMERA.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/d76302ff6df78e33/LOADCSV.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/b17641a58b413840/MANAGER.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/96f6651b44d461b1/DXSETTING.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/73d52a1910019f0a/MOUSE.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/726de22360d22bb8/RANDOM.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/4174adc49d0d96a6/MAIN.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/2d068250cca3e4e2/CLIENT.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/1a8d5f130dadf6c8/WINMAIN.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/f011f344e85a7552/MULTITHREADLOAD.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/df65650975ff328c/DRAWER.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/ab7737696858ef70/SOUND.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/9cd009b33924e96c/IMAGE.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/9aabe0fd5b016bde/KEYBOARD.ipch
.vs/Fundation2017/v15/ipch/AutoPCH/ce69ba35d1156d64/MODEL.ipch
